Body{
    background: linear-gradient(rgb(116, 165, 255), rgb(58, 58, 249));
  }

.navbar {
    background-color: rgba(255, 255, 255, 0.7); 
    width: 100%;
    padding: 5px 0px 5px 0px; 
    position: fixed;
    top: 0; 
    right: 0px;
    transition: top 0.3s;
    z-index: 100;
    font-size: 15px;
  }
 
  .navbar ul {
    list-style-type: none; 
    padding: 0px; 
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los enlaces horizontalmente */
  }
  
  .navbar li {
    margin-right: 20px; 
  }
  
  .navbar a {
    color: black; 
    text-decoration: none; 
  }
  .navbar a:hover {
    color: gray; 
  }



h1{
    padding-top: 50px;
    text-align: center;
    color: #f0f0f0;
    font-size: 58px;
    
}

h2{
    color: #f0f0f0;
    font-size: 30px;
}

.subtitle{
    text-align: center;
    color: #f0f0f0;
    font-size: 28px;
}

.mainheader{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.mainheader img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    z-index: -1;
}

.mainheader h1, p{
    position: relative;
    z-index: 1;
}

.portada{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.portada img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    z-index: -1;
}
.portada h1{
    position: relative;
    z-index: 1;
    padding-top: 160px;
}

hr{
    background: linear-gradient(to right, #ffffff, #ffc400); 
    height: 2px; 
    border: none;
}



.offerhor{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.offerhor:hover {
    background-color: #dedbdb;
    transition: transform 0.6s ease; 
    cursor: pointer;
}
.offerhor img{
    width: 80%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}
.offerhor span{
    padding-left: 10px;
    padding-top: 10px;
    color: black;
}

.offersvertcontaner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.offervert{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.offervert:hover {
    background-color: #dedbdb;
    transition: transform 0.6s ease; 
    cursor: pointer;
}

.offervert img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.offerinfo2,
.offerinfo3 {
    width: auto;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}








.container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 220px;
    height: 410px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 8px;
    border-radius: 4px; 
    padding: 5px 5px 0 5px;
}
.item:hover {
    transform: scale(1.1); 
    transition: transform 0.4s ease; 
    background-color: #dedbdb;
}
.item img{
    width: 100%;
    height: 280px;
    border-radius: 4px; 
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-product{
    color: black;
    font-size: 14px;
    padding-left: 10px;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 170px;
    height: 24px;
    background-color: #f0f0f0;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 4px;
}

button:hover{
    background-color: black;
    color: #f0f0f0;
}



.detallesdeproducto{
    width: 100%;
    padding-top: 40px;
}

.detallesdeproducto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.detallesdeproductonombre{
    color: #f0f0f0;
    font-size: 40px;
}
.detallesdeproductorareza{
    color: #dedbdb;
    font-size: 30px;
}

.detallesdeproductoprecio{
    color: #f0f0f0;
    font-size: 35px;
}